[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.5"

[packages]
soffit = {git = "https://github.com/mgritter/soffit", ref = "v0.0.6", editable = true}
matplotlib = "*"
pygraphviz = "*"
pydot = "*"

[dev-packages]
